<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.proyectoz"
    version   = "1.0.0">

<name>Proyecto Z</name>

<description>
Esta es una aplicación de ensayo, creada para aprender con Phonegap
</description>

<author href="https://example.com" email="you@example.com">
Your Name
</author>
<preference name="phonegap-version" value="2.9.0" />
</widget>
